.root {
    -fx-base: #242833;
    -fx-background-color: #242833;
    -fx-text-fill: #f2f4f8;
}

.label-success {
    -fx-text-fill: #6bd58a;
}

.label-warning {
    -fx-text-fill: #ffc166;
}

.std-tool-window-header,
.std-tool-window-footer {
    -fx-background-color: derive(-fx-base, -6%);
}

.std-tool-window-footer-label {
    -fx-font-size: 12px;
}
